<!DOCTYPE html>
<html>

<head>

    <title>Striva</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%= favicon_link_tag asset_path('mountain.png') %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
    <!-- Import jQuery -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />

    <script type="text/javascript">
        window.mapboxAPIKey = "<%= Rails.application.credentials.mapbox[:api_key] %>"
        mapboxgl.accessToken = window.mapboxAPIKey;
    </script>

    <meta property="og:title" content="Striva" />
    <meta property='og:image' content="<%= image_url('dashboard.png') %>" />
    <meta property="og:description" content="Striva is a web application for users to create, share, and log their workouts. Inspired by Strava, Striva allows users to create their favorite running routes, view a list of their exercise activities overtime, and track their progress all while sharing it with friends!" />
    <meta property="og:url" content="https://striva2.herokuapp.com/" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>

<body>

    <%= yield %>
</body>

</html>